<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Agrofields
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div>

                    <ion-fab-button color="primary" (click)="ngIfCtrl()" style="float:right">
                        <ion-fab-button>
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-button>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <!---->
    <ion-grid fixed *ngIf="hide">
        <ion-row>
            <ion-col size="12" size-sm>
                <ion-item>
                    <ion-input placeholder="Name" [(ngModel)]="agrofieldName"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" size-sm>
                <ion-item>
                    <ion-input placeholder="Location" [(ngModel)]="agrofieldLocation"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" size-sm>
                <ion-item>
                    <ion-textarea placeholder="Comments" [(ngModel)]="agrofieldComments"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="CreateRecord()" [disabled]="!agrofieldLocation || !agrofieldComments || !agrofieldName" expand="block" fill="solid" color="success">
                    <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
                    &nbsp;Create agrofield
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-card *ngFor="let item of agrofields">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-card-title>{{item.name}} </ion-card-title>
            <ion-card-subtitle>{{item.location}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
     
            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
     
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
     
            </ion-button>
          </ion-card-content>
        </span>
        <ng-template #elseBlock>
            <ion-card-header>
                <ion-card-title>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                Edit
                            </ion-col>
                            <ion-col style="float:right">
                                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                                    Save
                                </ion-button>
                                <ion-button fill="solid" color="medium" size="small" color="primary" (click)="item.isEdit = false">
                                    Cancel
                                </ion-button>


                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label><strong>Name</strong></ion-label>
                    <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><strong>Location</strong></ion-label>
                    <ion-input type="text" [(ngModel)]="item.EditLocation"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><strong>Comments</strong></ion-label>
                    <ion-textarea type="text" [(ngModel)]="item.EditComments"></ion-textarea>
                </ion-item>
            </ion-card-content>
        </ng-template>
    </ion-card>

</ion-content>