<ion-grid>
    <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
                <h1>Agros</h1>
            </div>
            <div padding>
                <ion-item>
                    <ion-input type="text" [(ngModel)]="user.email" placeholder="Email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
                </ion-item>
            </div>

            <div padding>
                <ion-button size="large" (click)="login()" expand="block">Login</ion-button>
                <br>
                <ion-button size="large" href="/register" expand="block">Register</ion-button>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>