<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Cultivations
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div>

                    <ion-fab-button color="primary" (click)="ngIfCtrl()" style="float:right">
                        <ion-fab-button>
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-fab-button>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
    <!---->
    <ion-grid *ngIf="hide">
        <ion-row>
            <ion-col size="12" size-sm>
                <ion-item>
                    <ion-input placeholder="Name" [(ngModel)]="cultivationName"></ion-input>
                </ion-item>
            </ion-col>




            <ion-col size="12" size-sm>
                <ion-item>

                    <ion-select style="width: 100% !important;max-width: 100% !important;" [(ngModel)]="cultivationAgrofield" ok-text="Okay" cancel-text="Dismiss" placeholder="Agrofield" (ionChange)="showMySelection(cultivationAgrofield)">
                        <ion-select-option *ngFor="let itemm of agrofields" [value]="itemm">{{itemm.name}}</ion-select-option>
                    </ion-select>

                </ion-item>
            </ion-col>



            <ion-col size="12" size-sm>
                <ion-item>

                    <ion-select style="width: 100% !important;max-width: 100% !important;" [(ngModel)]="cultivationPlant" ok-text="Okay" cancel-text="Dismiss" placeholder="Plants" (ionChange)="showMySelection(cultivationPlant)">
                        <ion-select-option *ngFor="let itemmm of plants" [value]="itemmm">{{itemmm.name}}</ion-select-option>
                    </ion-select>

                </ion-item>
            </ion-col>



            <ion-col size="12" size-sm>
                <ion-item>
                    <ion-input type="number" placeholder="Quantity" [(ngModel)]="cultivationQuantity"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12" size-sm>
                <ion-item>
                    <ion-textarea placeholder="Comments" [(ngModel)]="cultivationComments"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="CreateRecord()" [disabled]="!cultivationAgrofield || !cultivationComments || !cultivationName || !cultivationPlant || !cultivationQuantity" expand="block" fill="solid" color="success">
                    <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
                    &nbsp;Create cultivation
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-card *ngFor="let item of cultivations">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-card-title>{{item.agrofieldName}} - {{item.plantName}} : {{item.quantity}}</ion-card-title>
            <ion-card-subtitle>Cult. name : {{item.name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
     
            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
     
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
     
            </ion-button> 
          </ion-card-content>
        </span>
        <ng-template #elseBlock>
            <ion-card-header>
                <ion-card-title>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                Edit
                            </ion-col>
                            <ion-col style="float:right">
                                <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                                    Save
                                </ion-button>
                                <ion-button fill="solid" color="medium" size="small" color="primary" (click)="item.isEdit = false">
                                    Cancel
                                </ion-button>


                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label><strong>Name</strong></ion-label>
                    <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><strong>Quantity of {{item.plantName}}</strong></ion-label>
                    <ion-input type="text" [(ngModel)]="item.EditQuantity"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label><strong>Comments</strong></ion-label>
                    <ion-textarea type="text" [(ngModel)]="item.EditComments"></ion-textarea>
                </ion-item>
            </ion-card-content>
        </ng-template>
    </ion-card>

</ion-content>