<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="" alt="" />
        <ion-card-header>
            <ion-card-subtitle>Hello {{uid}}</ion-card-subtitle>
            <ion-card-title>Welcome to Agros</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                Now that you're connected , all your agrocultural data are a piece of cake to manage.
            </p>
        </ion-card-content>
    </ion-card>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Quick links</ion-label>
        </ion-list-header>
        <ion-item href="/income">
            <ion-icon slot="start" color="medium" name="logo-euro"></ion-icon>
            <ion-label>Income</ion-label>
        </ion-item>
        <ion-item href="/production">
            <ion-icon slot="start" color="medium" name="ios-analytics"></ion-icon>
            <ion-label>Production</ion-label>
        </ion-item>
        <ion-item href="/income">
            <ion-icon slot="start" color="medium" name="logo-euro"></ion-icon>
            <ion-label>Income</ion-label>
        </ion-item>
        <ion-item href="/list">
            <ion-icon slot="start" color="medium" name="list"></ion-icon>
            <ion-label>To-Do</ion-label>
        </ion-item>
        <ion-item href="/statistics">
            <ion-icon slot="start" color="medium" name="pie"></ion-icon>
            <ion-label>Statistics</ion-label>
        </ion-item>
    </ion-list>
</ion-content>