<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Statistics
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--
    <ion-item>
        <ion-input type="text" [(ngModel)]="stock" placeholder="AAPL, MSFT..."></ion-input>
        <ion-button slot="end" expand="full" (click)="getData()" [disabled]="stock == ''">
            <ion-icon slot="start" name="search"></ion-icon>
            Search
        </ion-button>
    </ion-item>
  -->
    <ion-card>
        <ion-card-header>
            <ion-card-title>Incomes</ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <h3 style="display:inline">Total : </h3>
            <h4 style="display:inline"> {{incomesTotal}}</h4>
            <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors" [legend]="showLegend" [chartType]="chartType">
    </canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Options</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Line chart?</ion-label>
                <ion-toggle (ionChange)="typeChanged($event)"></ion-toggle>
            </ion-item>
            <!--
            <ion-item>
                <ion-label>Background color</ion-label>
                <ion-input type="text" [(ngModel)]="chartColors[0].backgroundColor"></ion-input>
            </ion-item>
            -->
        </ion-card-content>
    </ion-card>
</ion-content>